body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ededed;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.submitBtn:hover {
    background-color: #a06545;
}

.submitBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #af6d4c;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.form-item label {
    font-weight: bold;
    margin-bottom: 5px;
}

.email,
.message,
.name {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    background-color: rgb(230, 227, 214);
}